*/.DS_Store
.DS_Store
.DS_Store?
Export/
ndll/*/lime*
ndll/*/liblime*
ndll/*/*.hdll
ndll/*/*.hash
ndll/*/*.so
ndll/*/*.dylib
ndll/*/*.lib
ndll/*/hl*
ndll/*/*.dll
templates/bin/hl/*
project/all_objs
project/obj
project/vc*.pdb
*.userprefs
*.swp
.idea/
*.iml
tools/*.exe
tools/obj
haxedoc.xml
.vscode/settings.json
package-lock.json
node_modules
!templates/**/node_modules
.vscode/
